html {
  /* Set the background image */
  background-image: url("../assets/background.jpg");
  background-size: cover; /* Adjust background size as needed */
  height: 100%;
  width: 100%;

 
}

/* h1 {
  color: white;
  position: absolute;
  margin-top: 15%;
  margin-left: 10%;
  font-size: 60px;
  padding:5px
  
} */
.search{
  margin-top: 4%;
   margin-left:70%;
   position: absolute ;
   
 }

.spiderman {
  color: white;
  position: absolute;
  top: 30%;
  margin-left: 10%;
  font-size: 70px;
  font-family: 'Josefin Sans', sans-serif;
 
}


.miles {
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  margin-top: 25%;
  margin-left: 10%;
  color:yellow;
  font-size: 60px;
  
  }



.quote-container {
  margin-top: 21%;
  margin-left: 10%;
  font-size: 20px;
  color:gray;
  width: 30%;
  position: absolute;
  z-index: 1;
}

.image {
  background-image: url("../assets/spiderman\ png.png");
  height: 780px;
  width: 590px;
  position:absolute;
  margin-top: 2%;
  margin-left: 40%;
  z-index: 0;

}

.hero-list{
  position: absolute;
  padding: 5%;
  width:70%;
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 10%;
  border-radius: 10px; 
  z-index: 5;
  text-align: center;
  left:15%;
  color: yellow;
  font-family: 'Permanent Marker' ;
  border: 5px solid yellow; 
  /* display:none; */
 }


